.list { 
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    gap:20px;
}

.listItem {
    display: flex;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 10px;
    height: 300px;
    gap:20px;
    overflow: hidden;
    flex: 0 1 30%;
}

.resultFigure{
    margin: 0;
}

.hotelName{
    font-size: 20px;
}

.resultImage{
    object-fit: cover;
    height: 100%;
    width: 350px;
}

.facilitiesList { 
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap:5px;
    padding-inline: 10px;
}

.contentWrapper { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    flex: 1;
}

.contentFooter{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.pricePp{
    font-size: 18px;
    font-weight: 700;
}

.priceTotal{
    font-size: 12px;
    font-weight: 300;
}

.priceWrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}